@media only screen
and (max-width : 1300px){
  .CreateChallenge {
    &__body {
      max-width: 500px;
      margin-top: 30px;
    }
  }
}

@media only screen
and (max-width : 1150px){
  .CreateChallenge {
    &__body {
      max-width: 400px;
      margin-right: 20px;
    }
  }
}

@media only screen
and (max-width : 800px){
  .CreateChallenge {
    border-top: 2px solid #ddd;

    &__body {
      width: 100%;
      max-width: unset;
      height: calc(100% - 32px);
      margin: 0;
      border-radius: 0;
    }

    &__button{
      top: unset;
      bottom: 0;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

@media only screen
and (max-width : 674px){
  .CreateChallenge{
    height: calc(100% - 120px);
  }
}

@media only screen
and (max-width : 650px){
  .CreateChallenge {

    &__button{
      top: unset;
      bottom: 0;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}