@media only screen
and (max-width : 650px){
  .Help {
    &__text{
      width: 80%;
      font-size: 2rem;
      line-height: 2.2rem;
      margin-top: 0;
    }

    &__body{
      margin-top: 20px;
      border-radius: 0;
      width: calc(100% - 60px);
      padding: 30px;
      height: 100%;
    }

    .Popup__submit {
      margin-top: unset;
    }
  }
}

@media only screen
and (max-width : 500px){
  .Help {
    &__text{
      width: 90%;
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
  }
}