.NotFound{
  padding: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);

  &__header{
    color: black;
    font-family: none;
    font-size: 1.8rem;
    font-weight: normal;

    &_main{
      font-size: 2.8rem;
      font-weight: bold;
    }
  }

  &__list{
    list-style: disc;
    color: black;
  }

  &__item{
    font-family: none;
    font-size: 1.8rem;
  }
}

@import "/media";